%section
  %h3 Crime per date
  %table
    - @crimes_per_date.each do |date, crime_count|
      %tr
        %th= date
        %td= crime_count

%section
  %h3 Most fucks given per neighborhood
  %table
    - @neighborhood_fucks_given.each do |neighborhood, word_count|
      %tr
        %th= neighborhood
        %td= word_count

%section
  %h3 Most common words by neighborhood 
  %table
    - @common_word_by_neighborhood.each do |neighborhood, word|
      %tr
        %th= neighborhood
        %td= word

%section
  %h3 Crimes by neighborhood
  %table
    - @crimes_by_neighborhood.each do |neighborhood, crime_count|
      %tr
        %th= neighborhood
        %td= crime_count
