%table
  %tr
    - @dow.each do |dow|
      %th= dow[0]
  %tr
    - @dow.each do |dow|
      %td= dow[1]

%table
  - @neighborhoods.each do |neighborhood|
    %tr
      %td= neighborhood

%table
  - @crime.each do |crime|
    %tr
      %td= crime.DAY_WEEK
      %td= crime.NEIGHBORHOOD
